* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #222;
}

img {
  image-rendering: pixelated;
}

.system-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh;
  font: 14px 'Verdana';
  font-weight: bold;
  line-height: 14pt;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  z-index: 999;
}

#loading {
  background: #0e0c14 url('./intro.png') center center no-repeat;
  background-size: auto 100%;
  position: fixed;
  inset: 0;
  z-index: 999;
}

#loading #loading-status {
  font: 14px 'Verdana';
  font-weight: bold;
  font-size: 2vh;
  line-height: 3vh;
  letter-spacing: 1px;
  position: fixed;
  text-align: center;
  color: #fff;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
