* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background: #222;
}

#loading-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loading-animation {
  width: 64px;
  height: 64px;
  background: url('./loading.gif') center center no-repeat;
  margin-bottom: 30px;
}

#loading-status {
  font-family: 'Verdana';
  font-size: 10pt;
  letter-spacing: 2px;
  color: #aaa;
}